* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  width :100dvw;
  height: 100dvh;
  background-color:#0b0f14;
  background: radial-gradient(circle at top left, #1bffff22, transparent 40%),
linear-gradient(135deg, #0f2027, #000000);
}



form {
  width: 70dvw;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  padding:20px;
  padding-top: 30dvh;
  font-family:-apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif;
  flex-direction: column;
  gap: 50px;
  
}

h2, p,h1 {
  color:#3df2e0;
}

#maskEmail {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  gap: 10px;
}

#maskEmail > h1 {
  position: relative;
  font-weight: 200;
}

#maskEmail > h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #0b0f14, #3df2e0);
}

input {
  font-size: 1rem;
  padding: 5px;
  background-color:#3df2e0;
  outline: none;
  color:#0b0f14;
  border:none;
  box-shadow: 
    inset 2px 6px 6px rgba(11,15,20,0.6),
    inset -3px -6px 6px rgba(11,15,20,0.05);
  border-radius: 4px;
}

input:focus {
  box-shadow: 0 0 15px rgba(0,255,200,0.4);
}

input::placeholder {
  color:#0b0f1499;
}

button {
  background-color: transparent;
  border:2px solid #3df2e0;
  font-size: 0.9rem;
  color: #3df2e0;
  padding: 10px;
  width: 70%;
  border-radius: 7px;
  margin: 0 auto;
  transition: transform 0.5s ease;
}

button:hover {
  box-shadow: 0 0 20px rgba(0, 255, 200, 0.4);
  color: #0b0f14;
  background-color: #3df2e0;
  transform: scale(0.95);
}

button:active {
  transform: scale(1);
  
}

