* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  width :100vw;
  height: 100vh;
  background-color:#0b0f14;
  background: radial-gradient(circle at top left, #1bffff22, transparent 40%),
linear-gradient(135deg, #0f2027, #000000);
}

form {
  width: 70vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  padding:20px;
  padding-top: 30vh;
  font-family:-apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif;
  flex-direction: column;
  gap: 100px;
  
}

h2, p {
  color:#3df2e0;
}

input {
  font-size: 1.6rem;
  padding: 5px;
  background-color:#3df2e0;
  outline: none;
  color:#0b0f14;
  box-shadow: 
    inset 2px 6px 6px rgba(11,15,20,0.3),
    inset -3px -6px 6px rgba(11,15,20,0.05);
  border-radius: 4px;
}

input:focus {
  box-shadow: 0 0 15px rgba(0,255,200,0.4);
}

input::placeholder {
  color:#0b0f1422;
}

button {
  background-color: transparent;
  border:2px solid #3df2e0;
  font-size: 1.4rem;
  color: #3df2e0;
  padding: 10px;
  transition: transform 0.2s ease;
}

button:hover {
  box-shadow: 0 0 20px rgba(0, 255, 200, 0.4);
}

button:active {
  transform: scale(0.95);
}
